<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Twitter Word Count</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/get_last_tweets.js' %}"></script>
</head>
<body>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1>Practica4_Black_box_Testing_BDD_y_Selenium</h1>
            <form id="report-form" method="POST" action="{% url 'get_tweets' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre de usuario de Twitter" id="username" name="username" maxlength="100" required>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-danger" id="button_delete" onclick="delete_last_tweets()">Delete</button>
                    <button type="submit" class="btn btn-primary" onclick="get_last_tweets()" id="button_execute">Exectue</button>
                </div>
            </form>
            <ul id="word_list">
            </ul>
        </div>
        <div class="col-2"></div>
    </div>
</body>
</html>